@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Ubuntu:wght@300&family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Ubuntu:wght@300;400&family=Varela+Round&family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 56px;
    background-color: black;
    color: #fff;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width:65px ;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: #000;
    color: #fff;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    font-family: sans-serif;
    background-image: url("bg.jpg");
    background-size: cover;
}
.bottom{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #000;
    bottom: 0;
    color: white;
    flex-direction: column;
    
}
.icons{
    margin: 15px 0;
}
.icons i {
    cursor: pointer;
}

#myProgressBar{
    width: 100vh;
    text-align: center;
    cursor: pointer;
}

.songItem {
height: 50px;
display: flex;
background-color: white;

color: black;
justify-content: space-between;
align-items: center;
margin: 12px 0;
border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}
.timestamp i {
    cursor: pointer;
}
.songItemContainer{
    margin: 74px;
}
.songInfo{
    position: absolute;
    left: 24vw;
    font-family: 'Varela Round',sans-serif;

}
.songInfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;

}